@import 'colors';

.sidebar {
    position: absolute;
    z-index: 999;
    transition: all 0.3s;
}

.sidebar-close {
    transform: translateX(-100%);
}

.sidebar-navlink {
    transition: all 0.3s;
}

.sidebar-navlink:hover {
    background-color: $gray;
    padding: 1rem;
}